<% provide(:title, "About") %>
<h1>About</h1>

<div class="panel panel-warning">
				<div class="panel-heading">This is a basic Twitter clone.  It include features such as:</div>
				<ul class="list-group">
					<li class="list-group-item" id="lgi1">Login and Authenticate System</li>
					<li class="list-group-item" id="lgi2">Auto-Email verification</li>
					<li class="list-group-item" id="lgi3">Create microposts and upload images</li>
					<li class="list-group-item" id="lgi4">Follow and Unfollow other users</li>
					<li class="list-group-item" id="lgi5">View and update Status Feed</li>
				</ul>
			</div>