<% provide(:title, "Contact") %>
<h1>Contact</h1>

<div class="panel panel-warning">
				<div class="panel-heading">Email</div>
				Contact me if you have any questions about this website:
				<%= mail_to "sokim209@gmail.com", "sokim209@gmail.com" %>
</div>