<% provide(:title, "Help") %>
<h1>Help</h1>

<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Login Information</h3>
		</div>
		<div class="panel-body">
		  The email-activation feature may take up to 15 minutes to reach you.
		  Please use the following username and password to explore the website 
		  in the mean time.
		  <ul class="list-group">
					<li class="list-group-item" id="lgi1">
					  <p>
					    Administrator
					  </p>
					  <p>
					    username: example@railstutorial.org
					    <br>
					    password: foobar
					  </p>
					</li>
					<li class="list-group-item" id="lgi2">
					  <p>
					    Regular User
					  </p>
					  <p>
					    username: example-1@railstutorial.org
					    <br>
					    password: password
					  </p>
					</li>
				</ul>
		</div>
	</div>